html, body #main {
    height: 100%;
}

body {
	font-family: 'Share Tech Mono', 'Anonymous Pro', 'Inconsolata', monospace;
	background-color:black;
}

a {
	text-decoration: none;
	color:inherit;
}

ul {
	margin:0;
	padding:0;
}

ul li {
	list-style-type:none;
}

header {
	background-color:transparent;
}

nav  {
	min-height:64px;
}

nav li {
	float:left;
	width:100px;
}

nav a {
	display:block;
	line-height:4em;
	text-align:center;
	color:white;
	
}

a.uppercase {
	text-transform: uppercase;
	text-decoration:none;
	color:white;
}

main {
	position:absolute;
	height:100%;
	min-height:400px;
	width:100%;
	background-color: transparent;
	overflow: visible;
}



button {
	font-family: 'Share Tech Mono', 'Anonymous Pro', 'Inconsolata', monospace;
}

button#play-stop {
	width:150px;
	height:150px;
	border: 10px solid transparent;
	border-radius:75px;
	outline:none;
}

button#volume-level {
	width:50px;
	height:50px;
	border:10px solid transparent;
	border-radius: 75px;
	outline:none;
	transform:translateY(45px);
}

#bitrade-switcher {
	display:block;
}

.bitrate-button {
	width:50px;
	margin-top:15px;
	margin-right: 29px;
	float:left;
	border-radius: 5px;
	outline:none;
}

#player {
	min-width:400px;
	z-index:10;
	position:fixed;
	top:25%;
	bottom:45%;
	left:40%;
	right:40%;
}

#lcd-screen {
	transform:translateX(-85px);
	min-width:250px;
	border:1px solid green;
	height:100px;
	margin-bottom:10px;
}

#frequences-block {          /*  must be hidden after resize */
	background-color: transparent;
	position:relative;
	width:98%;
	min-height: 520px;
	margin:1%;
	overflow:visible;
}



.frequences-start {         /*  must be hidden after resize */
	position:fixed;
	display:flex;
	width:100%;
	bottom:50px;
	overflow:visible;
}



.frequency-animation {
	/*moved to hz classes*/
}

.frequency-description {
    text-align:center;
    display:block;
	width:7%;
	position:fixed;
	color:darkgray;
	bottom:30px;
}

footer {
	position:fixed;
	color:green;
	text-align:center;
	bottom:0;
	width:100%;
	background-color:transparent;
}

/*Test*/
.f070hz, .f180hz, .f320hz, .f600hz, .f01khz, 
.f03khz, .f06khz, .f12khz, .f14khz, .f16khz {
	margin-right: 40px;
	float: left;
	width:7%;
	position:relative;
	margin-bottom:5px;
	bottom:5%;
	display:inline-block;
	background-image: url(img/equalizer-columns-background-small.png);
	min-height:20px;
	-webkit-transition: height 2s; /* For Safari 3.1 to 6.0 */
    transition: height 2s;
}

#f070hz {
/*	position: absolute; */
	height:100px;
}