html, body #main {
    height: 100%;
}

body {
	font-family: 'Share Tech Mono', 'Anonymous Pro', 'Inconsolata', monospace;
	background-color:black;
}

a {
	text-decoration: none;
}

ul {
	margin:0;
	padding:0;
}

ul li {
	list-style-type:none;
}

header {
	background-color:transparent;
}

#social-links {
	min-height:64px;
	position:fixed;
	left:5px;
}

#social-links li {
	float:left;
	width:30px;
}


#social-links a {
	display:block;
	line-height:4em;
	text-align:center;
	color:white;
}

#language-bar  {
	min-height:64px;
	position:fixed;
	right:5px;
}

#language-bar li {
	float:left;
	width:30px;
}

#language-bar a {
	display:block;
	line-height:4em;
	text-align:center;
	color:white;
	
}

a.uppercase {
	text-transform: uppercase;
	text-decoration:none;
	color:white;
}

main {
	position:absolute;
	height:100%;
	min-height:400px;
	width:100%;
	background-color: transparent;
	overflow: visible;
}

button {
	font-family: 'Share Tech Mono', 'Anonymous Pro', 'Inconsolata', monospace;
}

#player {
	display:block;
	min-width:320px;
	z-index:10;
	position:fixed;
	top:35%;
	bottom:45%;
	right:18%;
	left:38.5%;
}

@media screen and (min-width: 450px) {
    #player {
        top:35%;
		bottom:45%;
		left:47%;
		right:47%;
    }
}

#controls {
	    position: relative;
	    right: 10px;
}

button#play-stop {
	width:100px;
	height:100px;
	border: 10px solid transparent;
	border-radius:75px;
	outline:none;
}

#volume-slider {
	display:block;
	border: 1px solid green;
	max-width:340px;
	height:5px;
	margin:10px;
	transform:translate(-110px, 90px);
}

#bitrade-switcher {
	display:block;
}

.bitrate-button {
	width:50px;
	margin-top:15px;
	margin-right: 4px;
	float:left;
	border-radius: 5px;
	outline:none;
}


#lcd-screen {
	display:block;
	transform:translate(-120px, 100px); 
	max-width:340px;
	border:1px solid green;
	height:50px;
	margin:10px;
}

footer {
	position:fixed;
	color:green;
	text-align:center;
	bottom:0;
	width:100%;
	background-color:transparent;
}

